/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: "Jua", sans-serif;
    font-style: normal;
    background: linear-gradient(109deg, #B7D4AD 1.12%, #EBD6C8 49.47%, rgba(240, 243, 94, 0.37) 100.94%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*BOTONES DE INICIO Y COTIZACION*/
.header {
    background-color: transparent;
    display: flex;
    position: absolute;/*relative;*/
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.button {
    font-family: 'Englebert', sans-serif;
    position: relative;
    display: inline-block;
    padding: 10px 18px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #ebbd9eb9;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    line-height: 3px;
    font-size: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.flecha-left {
    margin-right: 4px;
    width: 20px;
    height: auto;
    vertical-align: middle;
}

.main-content {
    background-color: white;
    padding: 70px;
    border-radius: 8px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
    margin-top: 5px;
}

#cotizacion-form {
    display: flex;
    flex-direction: column;
}

.title-container {
    color: #74bb3d;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido horizontalmente */
    padding-bottom: 25px;
}

.title-container h1 {
    margin-bottom: 10px;
    margin-top: -25px; /* Ajustar el margen superior para subir el título */
}

.title-container img {
    margin-left: 25px; /* Espacio entre la imagen y el título */
    width: 33px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Mantén la proporción de la imagen */
    margin-top: -47px;
}

.form-container {
    color: #3D4667;
    display: flex;
    gap: 20px; /* Espacio entre filas y columnas*/
}

.form-column{
    width: 50%;
    flex-direction: column;
}

.form-group {
    font-size: 15px;
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    font-size: large;
}

.form-group img {
    background-color: #74bb3d;
    border-radius: 2px;
    padding: 3px 5px;
    width: 35px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Mantén la proporción de la imagen */
    margin-top: 4px;
    margin-bottom: -11px;
    margin-right: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    background-color: rgb(245, 245, 245);
    color: #6574aa;
    margin-top: 5px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #8B6456;
    outline: none;
}

.product-selection {
    border: 4px solid rgba(0, 0, 0, 0.05);
    margin-top: 30px;
}

.titulo-prod-select {
    background: rgba(237, 216, 202);
    display: flex;
}

.titulo-prod-select h2 {
    text-align: right;
    width: 72%;
    margin-top: 1px;
    color: #3D4667;
    padding: 5px;
    margin-bottom: 1px;
}

#contador-items {
    text-align: right;
    margin: 11px 7px;
    width: 28%;
    color: #e2007a; /* Color del texto */
    font-weight: bold; /* Estilo de texto */
}

.product-selection table {
    background: white;
    color: #081132;
    width: 100%;
    border-collapse: collapse;
}

.product-selection th {
    background: rgba(237, 216, 202, 0.55);
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product-selection td {
    color: #7c7979;
    background: #EFEFEF;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product-selection img {
    margin-left: 35px;
    width: 27px;
    height: auto;
}


.form-check {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.form-check input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 15px;
}

#check {
    width: 20px;
    height: 20px;
}

.form-buttons {
    display: grid;
    justify-content: right;
    gap: 17px;
    margin-bottom: 0%;
}

.submit-button,
.cancel-button {
    font-family: "Iceland", sans-serif;
    padding: 5px 15px;
    font-size: 21px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button {
    background-color: #399be3;
    color: white;
}

.cancel-button {
    background-color: #e8384d;
    color: white;
}

/*PIE DE PAGINA*/
.container {
    width: 100%;
}

.footer {
    margin-top: 5px;
    border-top: 2px solid #8b6456;
    width: 100vw;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 0;
}

.footer-group {
    display: flex;
    flex-wrap: wrap;
}

.footer-section {
    width: 25%;
    padding: 0 25px;
    font-family: "Dosis", sans-serif;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 20px;
    color: #000;
    margin-bottom: 25px;
    font-weight: 800;
    border-bottom: 2px solid #022530;
    padding-bottom: 10px;
    display: inline-block;
    font-family: "Copse", sans-serif;
}

.footer-section ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #081132;
    display: block;
    margin-bottom: 10px;
    transition: all .3s ease;
}

.footer-section ul li a:hover {
    color: darkcyan;
}

.footer-social a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #081132;
    font-size: 23px;
    transition: all .5s ease;
}

.footer-social a:hover {
    background-color: rgb(0, 139, 139);
    color: #EFEFEF;
}

.footer-section2 {
    margin-top: 15px;
    margin-left: 20px;
    text-align: left;
}

@media(max-width:991px) {
    .footer-group {
        text-align: center;
    }
    .footer-social {
        width: 100%;
        margin-bottom: 30px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-content {
    font-family: "Dosis", sans-serif;
    background: #EBD6C8;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    max-width: 400px;

    font-size: 20px;
    font-weight: 800;
    border: 3px solid #8B6456;
}

.overlay.hidden {
    display: none;
}

#confirmar-envio-overlay .overlay-content,
#confirmar-cancelacion-overlay .overlay-content,
#mensaje-overlay .overlay-content {
    background: #ffe5e5;
}

#confirmar-envio-overlay button,
#confirmar-cancelacion-overlay button {
    margin: 10px;
}

.button-aceptar {
    background-color: #4caf50;
}

.button-cancelar {
    background-color: #f44336;
}

.button-aceptar,
.button-cancelar {
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}