* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #7D44265E; /* Color de fondo similar al de la imagen */

    .background-rect {
        position: absolute;
        top: 55px;
        left: 40px;
        right: 40px;
        bottom: 55px;
        height: 125%;
        background-color: #fff;
        z-index: 0; /* Asegura que esté por debajo del contenido del navbar */
    }
}

header {
    height: 200px;
    .Logo {
        position: absolute;
        top: 70px; /* Ajusta según sea necesario */
        left: 50px; /* Ajusta según sea necesario */
        z-index: 1; /* Asegura que esté por encima del rectángulo blanco */
    }
    
    .Menu_inicial {
        display: flex;
        justify-content: space-between; /* Distribuye el espacio entre los grupos de botones */
        padding: 0 20px; /* Espaciado horizontal */
        position: relative; /* Necesario para asegurar que el navbar esté sobre el rectángulo blanco */
        z-index: 4; /* Asegura que el navbar esté por encima del rectángulo blanco */
    }
    
    .Grupo {
        display: flex;
    }
    
    .Grupo_izq {
        justify-content: flex-start;
        margin-top: 70px;
        margin-left: 330px; /* Ajusta este valor según necesites */
    }
    
    .Grupo_der {
        justify-content: flex-end;
        margin-top: 70px;
        margin-right: 100px; /* Ajusta este valor según necesites */
    }
    
    .boton_menu {
        background-color: #fff;
        border: none;
        padding: 10px 20px;
        margin: 0 20px; /* Añade espacio entre los botones */
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px; /* Bordes redondeados */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de profundidad */
        text-decoration: none; /*quita el subrayado del enlace*/
        color: inherit; /*mantiene el color del texto*/
        display: inline-block; /*asegura que los enlaces se comporten como botones*/
    }
    
    .boton_menu:hover {
        background-color: #e0d6c8; /* Cambio de color al pasar el ratón */
    }
}


main {
    height: 100%;/*200px;*/
    .boton_Beneficios {
        position: relative;
        width: auto;
        height: 50px;
        top: 50px;
        left: 220px;
        padding: 10px 20px;
        color:#fff;
        border-radius: 3px;
        border: none;
        background: rgba(213, 98, 91, 0.85);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        z-index: 1;
        font-size: 20px;
        font-family: 'Inter', sans-serif;
    }
    
    .boton_Beneficios:hover {
        background-color: rgba(193, 78, 71, 0.85);
    }
    
    .Encabezado1{
        width: auto;
        top: 0px;
        left: 40px;
        position: relative;
        font-size: 53px;
        font-family: var(--font-itim);
        color: #dd1e79;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22px;
        z-index: 1;
        -webkit-text-stroke: 1px #926d6d;
    }
    
    .Linea_entre_encabezados{
        z-index: 1;
        position: relative;
        width: 52%; /* Cambia el porcentaje para ajustar el largo */
        height: 5px; /* Cambia el valor para ajustar el grosor */
        background-color: #000; /* Cambia el color según lo desees */
        border: none; /* Elimina el borde predeterminado */
        top: 40px;
        left: 22px;
    }
    
    .Encabezado2{
        width: auto;
        top: 60px;
        position: relative;
        font-size: 35px;
        font-family: var(--font-itim);
        color: #a3d500;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        z-index: 1;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.5);
    }
    
    .lista_no_ordenada {
        top: 90px;
        width: 550px;
        position: relative;
        z-index: 1;
        font-size: 25px;
        color: #AC914D; 
        left: 35px;
    }

    .Mesa {
        position: absolute;
        z-index: 1;
        top: 420px;
        left: 40px;
    }

    .Apio {
        position: relative;
        z-index: 2;
        top: 70px;
        left: 170px;
    }
    
    .Mango {
        position: relative;
        z-index: 2;
        top: 20px;
        left: 160px;
        transform: rotate(100deg); 
    }

    .Piña {
        position: relative;
        z-index: 3;
        top: 10px;
        left: 0px;
        transform: rotate(28deg) scaleX(-1);
    }

    .Jugos {
        position: absolute;
        z-index: 2;
        top: 70px;
        left: 450px;
    }

    .Remolacha {
        position: relative;
        z-index: 2;
        top: 10px;
        left: 170px; 
    }

    .Zanahorias {
        position: absolute;
        z-index: 3;
        top: 510px;
        left: 1100px;
        transform: rotate(75deg);  
    }
    
    .Mostaza {
        position: absolute;
        z-index: 2;
        top: 660px;
        left: 1240px;
    }

    .Limones {
        position: absolute;
        z-index: 2;
        top: 380px;
        left: 70%;
    }
}

/*PIE DE PAGINA*/
.container {
    width: 100%;
}

.footer {
    margin-top: 150px;/*5px;*/
    border-top: 2px solid #8b6456;
    width: 100vw;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 0;
}

.footer-group {
    display: flex;
    flex-wrap: wrap;
}

.footer-section {
    width: 25%;
    padding: 0 25px;
    font-family: "Dosis", sans-serif;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 20px;
    color: #000;
    margin-bottom: 25px;
    font-weight: 800;
    border-bottom: 2px solid #022530;
    padding-bottom: 10px;
    display: inline-block;
    font-family: "Copse", sans-serif;
}

.footer-section ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #081132;
    display: block;
    margin-bottom: 10px;
    transition: all .3s ease;
}

.footer-section ul li a:hover {
    color: darkcyan;
}

.footer-social a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #081132;
    font-size: 23px;
    transition: all .5s ease;
}

.footer-social a:hover {
    background-color: rgb(0, 139, 139);
    color: #EFEFEF;
}

.footer-section2 {
    margin-top: 15px;
    margin-left: 20px;
    text-align: left;
}

@media(max-width:991px) {
    .footer-group {
        text-align: center;
    }
    .footer-social {
        width: 100%;
        margin-bottom: 30px;
    }
}
